.wrapper {
	position: relative;
	background: url('../img/background-filter.png') 0 0 repeat;
	z-index: 1000;
}

.container {
	max-width: $containerWidth + 40px;
	width: 100%;
	padding: 0 20px 0 200px;
	margin: 0 auto;

	@media (max-width: 1199px) {
		max-width: $containerWidth + 30px;
		padding: 0 20px 0 180px;
	}
	@media (max-width: 991px) {
		max-width: $containerWidth + 20px;
		padding: 0 20px 0 155px;
	}
	@media (max-width: 767px) {
		padding: 0 20px;
	}
}

.btn {
	position: relative;
	display: inline-block;
	border: none;
	background-color: transparent;
	cursor: pointer;
	overflow: hidden;
	border-radius: 6px;

	font-size: 14px;
	line-height: calc(16 / 14);
	color: $white;
	font-weight: 600;
	text-transform: uppercase;
	transition: all 0.3s ease;

	background-color: $fire-red;

	@media (min-width: 100px) {
		&:hover {
			background-color: $dark-red;
		}
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		display: block;
		width: 24px;
		height: 100%;
		background-color: $dark-red;
		transition: all 0.3s ease;

		clip-path: url(#btn-decoration);
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
		transform: scale(-1, 1);
	}

	@media (min-width: 991px) {
		&:hover {
			&::before,
			&::after {
				background-color: $fire-red;
			}
		}
	}

	&--big {
		padding: 18px 23px;
	}

	&--small {
		padding: 15px 40px;
	}
}

.section-content {
	@media (max-width: 767px) {
		padding-left: 30px;
	}
}

.section-heading {
	font-family: 'Viaoda Libre', sans-serif;
	font-size: 70px;
	line-height: calc(90 / 80);
	color: $black;
	font-weight: 400;

	position: relative;
	display: block;
	margin-top: 25px;

	@media (max-width: 1400px) {
		font-size: 60px;
		margin-top: 20px;
	}
	@media (max-width: 1199px) {
		font-size: 50px;
	}
	@media (max-width: 991px) {
		font-size: 45px;
	}
	@media (max-width: 767px) {
		font-size: 40px;
	}
	@media (max-width: 479px) {
		font-size: 34px;
	}

	&::before {
		content: '';
		position: absolute;
		left: -45px;
		top: calc(0.5em - 15px);
		display: block;
		background: url('../img/icons/section-sign.svg') 0 0 / contain;
		width: 30px;
		height: 31px;

		@media (max-width: 767px) {
			left: -30px;
			top: calc(0.5em - 11px);
			width: 22px;
			height: 23px;
		}
	}

	.underline {
		display: inline-block;
		position: relative;
		left: 0;
		top: 0;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			width: 100%;
			height: 2px;
			background-color: $black;
		}
	}
}

.section-heading-info {
	font-family: 'Madelyn Fill', sans-serif;
	font-size: 46px;
	line-height: calc(46 / 46);
	color: $fire-red;
	font-weight: 300;

	@media (max-width: 991px) {
		font-size: 34px;
	}
}

.section-text {
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	line-height: calc(28 / 18);
	font-weight: 600;
	color: $black;

	@media (max-width: 767px) {
		font-size: 16px;
		line-height: calc(20 / 16);
	}
}

// apply for construction div > el where background ornament should be while preview loading
.img-bg-pattern {
	position: relative;
	background: #ebe0d3;
	z-index: 210;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;

		opacity: 0.4;
		z-index: 200;

		background: $bg-svg-icon;
	}

	img {
		position: relative;
		width: 100%;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 210;
	}

	video {
		z-index: 210;
	}
}

// div is used to increase specificity
div.img-border-white {
	border: 7px solid $white;
}

.list-item-content {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: -38px;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: 18px;
		height: 22px;
		background: url('../img/why-us/advantages-list-item-marker.svg');
	}
}

span.red {
	color: $fire-red;
}

label.checkbox {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;

	input[type='checkbox'] {
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	input[type='checkbox']:checked + span::before {
		border: 1px solid transparent;
		background: #4299e1 url(../img/icons/checkbox-checked.svg) center no-repeat;
	}

	span::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		display: inline-block;
		width: 100%;
		height: 100%;
		height: 16px;
		border-radius: 4px;
		border: 1px solid gray;
		background-color: #fff;
	}
}
