// TECHNICAL MIXINS

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url('../fonts/#{$file_name}.woff') format('woff'), url('../fonts/#{$file_name}.woff2') format('woff2');
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

// GLOBAL STYLES

@import 'fonts';
@import 'vars.scss';
@import 'reset.scss';

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	img {
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 1em;
	width: 1em;
	border-radius: 50em;
	background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
	background-size: contain;
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
}

input[type='search']:focus::-webkit-search-cancel-button {
	opacity: 0.5;
	pointer-events: all;
	// For light inputs
	filter: invert(1);
}

[hidden] {
	display: none !important;
}

// ===== GENERAL ======

body {
	color: $black;
	font-family: 'Gillroy', sans-serif;

	&._lock {
		overflow: hidden;
	}

	&.using-mouse *:focus,
	&.touch *:focus {
		outline: none;
	}
}

.wrapper {
	position: relative;
	background: $bg-color url('../img/background-filter.png') 0 0 repeat;
	z-index: 1000;
}

.container {
	max-width: $containerWidth + 40px;
	width: 100%;
	padding: 0 20px 0 200px;
	margin: 0 auto;

	@media (max-width: 1199px) {
		max-width: $containerWidth + 30px;
		padding: 0 15px 0 180px;
	}
	@media (max-width: 991px) {
		max-width: $containerWidth + 20px;
		padding: 0 10px 0 155px;
	}
	@media (max-width: 767px) {
		padding: 0 20px;
	}
	@media (max-width: 575px) {
		padding: 0 20px;
	}
}

.btn {
	position: relative;
	display: inline-block;
	border: none;
	background-color: transparent;
	cursor: pointer;
	overflow: hidden;
	border-radius: 6px;

	font-size: 14px;
	line-height: calc(16 / 14);
	color: $white;
	font-weight: 600;
	text-transform: uppercase;
	transition: all .3s ease;

	background-color: $fire-red;

	@media (min-width: 100px) {
		&:hover {
			background-color: $dark-red;
		}
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
		display: block;
		width: 24px;
		height: 100%;
		background-color: $dark-red;
		transition: all .3s ease;

		clip-path: url(#btn-decoration);
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
		transform: scale(-1, 1);
	}

	@media (min-width: 991px) {
		&:hover {
			&::before,
			&::after {
				background-color: $fire-red;
			}
		}
	}

	&--big {
		padding: 18px 23px;
	}

	&--small {
		padding: 15px 40px;
	}
}

.fullscreen {
	background: url('../img/header/background-line-1.svg') center / cover;
	min-height: 100vh;
}

@import 'header.scss';
@import 'burger.scss';
// @import 'yourfile.scss';
@import 'footer.scss';
